$width-container: 760px;
$border: 0.3px solid rgba(0, 0, 0, .1);
$paper-color: whitesmoke;
$opacity-time: .3s;
$background-image: url("Subtle-Prism.svg");

@mixin flexColumn {
  display: flex;
  flex-flow: column
}

@mixin general {
  background-color: $paper-color;
  border: $border
}

@mixin checkbox {
  margin-bottom: 5px;
  padding: 5px;
  transition: .7s;
}

.wrapper_container {
  overflow-y: scroll;
  background: $background-image;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


.container {
  max-width: $width-container;
  position: relative;
  margin: auto auto 20px;
  background: rgb(255, 255, 255);
}

.header {
  @include general;
}

.groups_enter {
  animation: appearance $opacity-time;
}

.group_head_appearance {
  animation: appearance .7s;
}

.group_head_disappearance {
  animation: disappearance $opacity-time forwards;
}

.group_enter {
  animation: smooth_moving_down .7s forwards;
}

.group_exit {
  animation: group_smooth_moving_up .7s forwards, disappearance $opacity-time forwards;
  animation-delay: 0s, .7s;
}

@-webkit-keyframes smooth_moving_down {
  from {
    transform: translateY(-120px);
  }
  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes group_smooth_moving_up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-140px);
  }
}

@-webkit-keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes disappearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.authority {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.all_people_table {
  display: flex;
  flex-flow: row nowrap;
  border: 0.3px solid rgba(0, 0, 0, .1);
  margin-bottom: 10px
}

.people_menu {
  @include general;
  padding: 1px;
  flex: 1 1 100px;
}

.authorities {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 5%;
}

.manage_people_lists {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px
}

.manage_people_list {
  @include flexColumn;
  height: 250px;
  overflow-y: auto
}

.manage_people_buttons {
  @include flexColumn;
}

.manage_people_checkbox {
  @include checkbox;
}

.manage_people_checkbox_remove {
  @include checkbox;
  animation: addToList 1s;
}

.manage_people_checkbox:hover{
  cursor: pointer;
  background: rgba(123, 104, 238,.2);
}

@-webkit-keyframes addToList {
  from {
    background: rgba(0,0,0,.0);
  }
  50%{
    background: rgba(123, 104, 238,.2);
  }
  to {
    background: rgba(0,0,0,.0);
  }
}