$width-container: 720px;
$border: 0.3px solid rgba(0, 0, 0, .1);
$paper-color: whitesmoke;
$opacity-time: .3s;

@mixin general {
  background-color: $paper-color;
  border: $border
}

.container {
  max-width: $width-container;
  margin: auto;
  position: relative;
}

.header {
  @include general;
}

.groups_enter {
  animation: appearance $opacity-time;
}

.group_head_appearance {
  animation: appearance .7s;
}

.group_head_disappearance {
  animation: disappearance $opacity-time forwards;
}

.group_enter {
  animation: smooth_moving_down .7s forwards;
}

.group_exit {
  animation: group_smooth_moving_up .7s forwards, disappearance $opacity-time forwards;
  animation-delay: 0s, .7s;
}

@-webkit-keyframes smooth_moving_down {
  from {
    transform: translateY(-120px);
  }
  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes smooth_moving_up {
  from {
    transform: translateY(120px);
  }
  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes group_smooth_moving_up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-120px);
  }
}

@-webkit-keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes disappearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.authority {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.all_people_table {
  display: flex;
  flex-flow: row nowrap;
  border: 0.3px solid rgba(0, 0, 0, .1);
  margin-bottom: 10px
}

.people_menu {
  @include general;
  padding: 1px;
  flex: 1 1 100px;
}

.authorities {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 5%;
}